<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm</title>
    <style>
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        margin-top: 25px;
    }
    
    </style>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Tem certeza que deseja deletar {{result.nome}} ?</h2>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>